*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, sans-serif;
    background: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #222;
}

.text-align-left {
    text-align: left;
}

.mb-2 {
    margin-bottom: 2rem;
}

.blue {
    color: #007BFF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    padding: 5rem;
    max-width: 1000px;
    margin: 0 auto;
}

@media (max-width: 683px) {
    .container {
        padding: 2rem;
    }
}

.hidden {
    display: none !important;
}

.about-container {
    margin: 1rem 0;
    text-align: center;
}

.about-container > p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.info-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    min-height: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    border: 1px solid #858585;
}

.info-card img {
    max-width: 4rem;
}

.info-card h3 {
    margin: 0.5rem 0;
}

.info-card p {
    font-size: 0.9rem;
    color: #555;
}

#start-scan {
    padding: 10px 25px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

#start-scan:hover {
    background-color: #0056b3;
}

#nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

button {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1rem;
}

button.active {
    background: #0078d7;
    color: #fff;
    border-color: #0078d7;
    font-weight: bold;
}

button:hover:not(.active) {
    background: #ddd;
}

.info-section h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.refresh-button {
    padding: 4px 8px;
    font-size: 0.9rem;
    cursor: pointer;
}

.refresh-button > span {
    color: #656565;
}

ul {
    list-style: none;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

.footer {
    text-align: center;
    background-color: #D3D3D3;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    word-wrap: break-word;
    font-size: 1.1rem;
}